@import "../../../scss/AdaptivValue";

.ForecastList {
  width: 420px;
  @media (max-width: 768px) {
    margin: 20px auto 0 auto;
  }
  @media (max-width: 440px) {
    width: 300px;
  }
}

.title {
  font-weight: bold;
  @include adaptiv-value("font-size", 18, 14, 1);
  padding-bottom: 10px;
}

.list {

}